<div class="container mt-2">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { controller: "delivery-fee" } }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :address %>
      <%= f.input :photo, as: :file, input_html: { multiple: false } %>
      <%= f.input :restaurant, as: :select, collection: [['Yes', true], ['No', false]], prompt: 'Select Yes or No', required: true, label: 'Do you own a restaurant?', input_html: { data: { target: "delivery-fee.restaurant", action: "delivery-fee#toggleDeliveryFeeField" } } %>

      <div id="delivery_fee_field" class="form-group" data-delivery-fee-target="deliveryFee" style="display: none;">
        <%= f.label :delivery_fee, "Delivery Fee" %>
        <%= f.input_field :delivery_fee, as: :decimal, step: 0.01, class: "form-control" %>
      </div>

      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-primary mb-2" %>
    </div>
  <% end %>

  <%= link_to "Back", :back, class: "btn btn-secondary mb-2" %>

  <h4>Unhappy?</h4>

  <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>

</div>
