<div class="container">
  <div class="show-recipe mt-2">
      <h1 class="card-title"><%= @recipe.name.capitalize %></h1>

      <h3 class="card-title my-2">Description: </h3>
      <p class="card-text"><%= @recipe.ingredients %></p>

    <% if @recipe.content.present? %>
     <h3 class="card-title my-2">Recipe</h3>
      <% @recipe.content.split("\n").each do |line| %>
      <p class="card-text">
      <% if line.strip.downcase.start_with?('ingredients') %>
        <strong><%= line %></strong>
      <% elsif line.strip.downcase.start_with?('instructions') %>
        <strong><%= line %></strong>
      <% else %>
        <%= line %>
      <% end %>
      </p>
      <% end %>
    <% end %>

    <% if current_page?(preview_recipe_path) %>
      <%= button_to "Save recipe", recipes_path(recipe: @recipe), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to "Back", recipes_path, class: 'btn btn-secondary' %>
  </div>
</div>
