<div class="container">
  <% if @user.restaurant %>
    <h1>Restaurant Profile</h1>
    <div id="restaurant-profile">
      <h2>
        <strong>Restaurant Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Location:</strong>
        <%= @user.address %>
      </p>

      <%= link_to "View Restaurant", restaurant_path(@user), class: "btn btn-primary" %>
    </div>
  <% else %>
    <h1>User Profile</h1>
    <div id="user-profile">
      <h2>
        <strong>Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <!-- Adicione outras informações do usuário conforme necessário -->
    </div>
  <% end %>

  <h2>Compras Realizadas</h2>
  <ul>
    <% @user.orders.each do |order| %>
      <% order.order_items.each do |item| %>
        <li>
          Produto: <%= link_to item.product.name, product_path(item.product) %> -
          Preço: <%= number_to_currency(item.product.price) %> -
          Quantidade: <%= item.quantity %> -
          Total: <%= number_to_currency(item.total_price) %> -
          Comprado em: <%= l(order.created_at, format: :short) %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "Back", root_path, class: "btn btn-secondary" %>
</div
