<div class="container">
  <% if @user.restaurant %>
    <h1>Restaurant Profile</h1>
    <div id="restaurant-profile">
      <h2>
        <strong>Restaurant Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Location:</strong>
        <%= @user.address %>
      </p>

      <%= link_to "View Restaurant", restaurant_path(@user), class: "btn btn-primary" %>
    </div>

    <h2>Sales Made</h2>
    <ul>
      <% @user.products.each do |product| %>
        <% product.order_items.each do |item| %>
          <li>
            Buyer: <%= link_to item.order.user.name, user_path(item.order.user) %> -
            Product: <%= link_to item.product.name, product_path(item.product) %> -
            Quantity: <%= item.quantity %> -
            Total: <%= number_to_currency(item.total_price) %> -
            Sold on: <%= l(item.order.created_at, format: :short) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <h1>User Profile</h1>
    <div id="user-profile">
      <h2>
        <strong>Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <!-- Add other user information as needed -->
    </div>

    <h2>Purchases Made</h2>
    <ul>
      <% @user.orders.each do |order| %>
        <% order.order_items.each do |item| %>
          <li>
            Product: <%= link_to item.product.name, product_path(item.product) %> -
            Price: <%= number_to_currency(item.product.price) %> -
            Quantity: <%= item.quantity %> -
            Total: <%= number_to_currency(item.total_price) %> -
            Purchased on: <%= l(order.created_at, format: :short) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <%= link_to "Back", root_path, class: "btn btn-secondary" %>
</div>
