<div class="container">
  <% if @user.restaurant %>
    <h1>Restaurant Profile</h1>
    <div id="restaurant-profile">
      <h2>
        <strong>Restaurant Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Location:</strong>
        <%= @user.address %>
      </p>

      <h2>Produtos</h2>
      <ul>
        <% @user.products.each do |product| %>
          <li><%= link_to product.name, product_path(product) %> - <%= number_to_currency(product.price) %></li>
        <% end %>
      </ul>

      <h2>Vendas Realizadas</h2>
      <ul>
        <% @orders.each do |order| %>
          <% if order.product.present? %>
            <li>
              Produto: <%= link_to order.product.name, product_path(order.product) %> -
              Preço: <%= number_to_currency(order.product.price) %> -
              Vendido para: <%= order.user.name %> -
              Data: <%= l(order.created_at, format: :short) %>
            </li>
          <% else %>
            <li>Produto não disponível</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h1>User Profile</h1>
    <div id="user-profile">
      <h2>
        <strong>Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <h2>Compras Realizadas</h2>
      <ul>
        <% @orders.each do |order| %>
          <% if order.product.present? %>
            <li>
              Produto: <%= link_to order.product.name, product_path(order.product) %> -
              Preço: <%= number_to_currency(order.product.price) %> -
              Comprado em: <%= l(order.created_at, format: :short) %>
            </li>
          <% else %>
            <li>Produto não disponível</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to "Back", root_path, class: "btn btn-secondary" %>
</div>
