<div class="container">
  <p><%= cl_image_tag url_for(current_user.photo), height: 300, width: 300, crop: :thumb%></p>
  <% if @user.restaurant %>
    <h1>Restaurant Profile</h1>
    <div id="restaurant-profile">
      <h2>
        <strong>Restaurant Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Location:</strong>
        <%= @user.address %>
      </p>


    </div>

    <h2>Sales Made</h2>

    <h1>User Profile</h1>
    <div id="user-profile">
      <h2>
        <strong>Name:</strong>
        <%= @user.name %>
      </h2>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <!-- Add other user information as needed -->
    </div>

    <h2>Purchases Made</h2>
    <ul>
      <% @user.orders.each do |order| %>
        <% if order.product.present? %>
          <li>
            Product: <%= link_to order.product.name, product_path(order.product) %> -
            Price: <%= number_to_currency(order.price) %> -
            Quantity: <%= order.quantity %> -
            Total: <%= number_to_currency(order.total_price) %> -
            Purchased on: <%= l(order.created_at, format: :short) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Edit', edit_user_registration_path(@user), class: 'btn btn-warning' %>
  <%= link_to "Back", root_path, class: "btn btn-secondary" %>
</div>
