<div class="container">
  <h1>Confirm Your Order</h1>

  <% if @cart.cart_items.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |item| %>
          <tr>
            <td><%= item.product.user.name %></td>
            <td><%= item.product.name %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.product.price) %></td>
            <td><%= number_to_currency(item.total_price) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Subtotal:</td>
          <td><%= number_to_currency(@cart.total_price) %></td>
        </tr>
        <% if @cart.cart_items.first.product.user.delivery_fee %>
          <tr>
            <td colspan="4">Delivery Fee:</td>
            <td><%= number_to_currency(@cart.cart_items.first.product.user.delivery_fee) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4"><strong>Total:</strong></td>
          <td><strong><%= number_to_currency(@cart.total_price + (@cart.cart_items.first.product.user.delivery_fee || 0)) %></strong></td>
        </tr>
      </tfoot>
    </table>

    <%= form_with(model: @order, local: true) do |form| %>
      <% form.hidden_field_tag :product_id, @order.cart_itens.id  %>
      <div class="actions">
        <%= form.submit "Place Order", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <p>Your cart is empty.</p>
    <%= link_to 'Back to Restaurant', restaurants_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
