<div class="container">
  <h1>Restaurant</h1>
  <div id="<%= dom_id(@restaurant) %>">
    <h2>
      <strong>Name:</strong>
      <%= @restaurant.name %>
    </h2>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <h3>Products</h3>
    <ul>
      <% @restaurant.products.each do |product| %>
        <li>
          <strong><%= product.name %></strong>: <%= product.description %> - $<%= product.price %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
