<div class="container mt-2">
  <h1>Your Shopping Cart</h1>

  <% if @cart.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @cart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @cart.cart_items.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.cart_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td>
                <%= form_with model: item, url: update_quantity_cart_path(item), method: :patch, local: true, class: 'd-flex align-items-center' do |f| %>
                  <%= f.select :quantity, options_for_select((1..10).to_a, item.quantity), {}, class: 'form-select me-2', onchange: 'this.form.submit()' %>
                <% end %>
              </td>
              <td><%= number_to_currency(item.product.price) %></td>
              <td><%= number_to_currency(item.total_price) %></td>
              <td>
                <button type="button" class="btn btn-red btn-sm mr-2 d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= item.id %>">
                  <i class="fa-solid fa-trash"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal-<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Item from Cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel</button>
                        <%= link_to 'Yes', remove_from_cart_cart_path(item), data: {
                          turbo_method: :delete,
                          }, class: 'btn btn-primary mr-2 d-flex justify-content-center align-items-center' %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Total:</td>
            <td><%= number_to_currency(@cart.total_price) %></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <%= link_to 'Checkout', new_order_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Back to Restaurant', restaurant_path(@cart.cart_items.first.product.user), class: 'btn btn-secondary btn-lg' %>
    </div>
  <% else %>
    <p>Your cart is empty.</p>
    <%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-secondary btn-lg' %>
  <% end %>
</div>
