<div class="container">

  <div class="items" data-controller='filter-carrossel' data-filter-carrossel-target="carrossel" >
    <div class="w-100">
      <div id="gluten_free" class="item" data-filter-carrossel-target='item'>
        <%= link_to "Gluten Free", restaurants_path(filter: "gluten_free"), class: 'btn btn-circle mr-2' %>
      </div>
      <div id="dairy_free" class=" item" data-filter-carrossel-target='item'>
        <%= link_to "Dairy Free", restaurants_path(filter: "dairy_free"), class: 'btn btn-circle mr-2' %>
      </div>
      <div id="nut_free" class="item" data-filter-carrossel-target='item'>
        <%= link_to "Nut Free", restaurants_path(filter: "nut_free"), class: 'btn btn-circle mr-2' %>
      </div>
      <div id="soy_free" class="item" data-filter-carrossel-target='item'>
        <%= link_to "Soy Free", restaurants_path(filter: "soy_free"), class: 'btn btn-circle mr-2' %>
      </div>
      <div id="vegetarian" class="item" data-filter-carrossel-target='item'>
        <%= link_to "Vegetarian", restaurants_path(filter: "vegetarian"), class: 'btn btn-circle mr-2' %>
      </div>
      <div id="vegan" class="item" data-filter-carrossel-target='item'>
        <%= link_to "Vegan", restaurants_path(filter: "vegan"), class: 'btn btn-circle mr-2' %>
      </div>
    </div>

		<div class="button-container">
			<div class="button" data-action="click->filter-carrossel#gotoPrev"><i class="fas fa-angle-left"></i></div>
			<div class="button" data-action="click->filter-carrossel#gotoNext"><i class="fas fa-angle-right"></i></div>
		</div>
	</div>
  <div class="home-content">
    <h1>Restaurants</h1>
    <%= render 'list', users: @users %>
  </div>
</div>
