<div class="container">
  <h1>Restaurants</h1>

<div class="filters">
  <%= link_to "Gluten Free", restaurants_path(filter: "gluten_free"), class: 'btn btn-circle mr-2' %>
  <%= link_to "Dairy Free", restaurants_path(filter: "dairy_free"), class: 'btn btn-circle mr-2' %>
  <%= link_to "Nut Free", restaurants_path(filter: "nut_free"), class: 'btn btn-circle mr-2' %>
  <%= link_to "Soy Free", restaurants_path(filter: "soy_free"), class: 'btn btn-circle mr-2' %>
  <%= link_to "Vegetarian", restaurants_path(filter: "vegetarian"), class: 'btn btn-circle mr-2' %>
  <%= link_to "Vegan", restaurants_path(filter: "vegan"), class: 'btn btn-circle mr-2' %>
</div>


  <%= render 'list', users: @users %>
</div>
