<div class="container show-restaurant">
  <div id="<%= dom_id(@user) %>">
  <div class="rest-info">
    <h1><%= @user.name %></h1>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>

    <h3>Products</h3>
  </div>
    <ul>
      <% @products.each do |product| %>
        <li>
          <div class="card">
          <%= link_to product_path(product), class: 'card-link' do %>
            <div>
              <% if product.photo.attached? %>
                  <%= cl_image_tag url_for(product.photo), height: 180, width: 180, crop: :fill, class: 'card-img-top' %>
              <% else %>
                <%= image_tag 'default-foto.jpg', height: 180, width: 180, crop: :fill, class: 'card-img-top' %>
              <% end %>
            </div>
            <div class="product-info">
              <strong><%= product.name %></strong>
              <ul>
                <% product.restrictions.each do |restriction|%>
                  <li><%= restriction.name %></li>
                <% end %>
              </ul>
              <strong>R$<%= product.price %></strong>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

    <% if policy(@user).create? %>
      <%= link_to "Insert new product", new_product_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
