<div class="container">

  <div id="<%= dom_id(@restaurant) %>">
    <h1>
      <%= @restaurant.name %>
    </h1>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <h3>Products</h3>
    <ul>
      <% @restaurant.products.each do |product| %>
        <li>
          <strong><%= product.name %></strong>: <%= product.description %> - $<%= product.price %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Insert new product", new_product_path, class: "btn btn-primary" %>

</div>
